<p class="text-center mx-5 pt-1">© 2025 Diana Wright. This site was designed and coded by her.</p>

{# images #}
<div class="row mx-5 mb-2 text-center align-items-center align-top">
    <div class="d-flex justify-content-center align-items-start col-12 mb-0">
        <div>
            <img class="float-start mx-1 mt-1" src="/img/dolby.png" alt=""> 
            <img class="float-start mx-1 mt-1" src="/img/privacy.png" alt=""> 
            <img class="float-start mx-1 mt-1" src="/img/esrb.png" alt="">
        </div>
    </div>
</div>