<div id="siteWideFooter" class="container-fluid position-absolute nav-index">
    <div class="d-flex justify-content-center align-items-center p-1">
        <div class="text-center">
            <a href="/guestbook.html"><h2>Guestbook</h2></a>
        </div>
        <div class="text-center px-3">
            <h2>♥</h2>
        </div>
        <div class="text-center">
            <a href="/cabinet.html"><h2>Diana's Cabinet</h2></a>
        </div>
    </div>
    {% include "_copyright.njk" %}
</div>