{% extends '_base.njk' %}

{% block title %}Diana's Cool Anime Wallpapers{% endblock %}

{% set pageId = "cabinet-wallpapers" %}

{% block content %}
    <div class="row text-center d-flex p-5">
        <div class="col-12 mx-auto justify-content-center mx-auto d-block cabinet-text rounded-4 p-1">
            <div class="wallpapers-content">
                <h1><strong>Diana's Cool Anime Wallpapers For Your Computer</strong></h1>
                <p class="mb-5">To my utter bemusement, proper desktop wallpapers for animes I like have become increasingly harder to find, so a lot of times - usually while procrastinating on something else in an executive dysfunction-induced fugue state - I'll take it upon myself to create a few of my own by making edits to official artwork. This page exists as a little place I can share what I've made with anyone who needs em. Might make updates to this occasionally if I'm feeling it but there are currently no plans to quit my day job and go pro with this or anything</p>

                <div id="nabikiTendo my-5">
                    <table style="margin: auto">
                            <tr>
                                <td>
                                    <img src="/img/sdnabiki.gif" alt="New" />
                                </td>
                                <td>
                                    <h2>Nabiki Tendo (from Ranma 1/2)</h2>
                                </td>
                                <td>
                                    <img src="/img/sdnabiki.gif" alt="New" />
                                </td>
                            </tr>
                    </table>

                    <p>I just really like Nabiki Tendo ok</p>

                    <a href="/img/wallpapers/nabiki2.png"><img src="/img/wallpapers/icons/nabiki2.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/nabiki3.png"><img src="/img/wallpapers/icons/nabiki3.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/nabiki3color.png"><img src="/img/wallpapers/icons/nabiki3color.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/nabiki4.png"><img src="/img/wallpapers/icons/nabiki4.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/nabiki5.png"><img src="/img/wallpapers/icons/nabiki5.png" class="imglink2" /></a>
                </div>

                <div class="uruseiYatsura my-5">
                    <table style="margin: auto">
                            <tr>
                                <td>
                                    <img src="/img/lumdance.gif" alt="New" width="50"/>
                                </td>
                                <td>
                                    <h2>Urusei Yatsura</h2>
                                </td>
                                <td>
                                    <img src="/img/lumdance.gif" alt="New" width="50"/>
                                </td>
                            </tr>
                    </table>

                    <p>what if Rick and Morty was epic???</p>

                    <a href="/img/wallpapers/uy_autumn.png"><img src="/img/wallpapers/icons/uy_autumn.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_dinner.png"><img src="/img/wallpapers/icons/uy_dinner.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_groupshot1.png"><img src="/img/wallpapers/icons/uy_groupshot1.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_kimono.png"><img src="/img/wallpapers/icons/uy_kimono.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_kotatsunekohill.png"><img src="/img/wallpapers/icons/uy_kotatsunekohill.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_kotatsunekolum.png"><img src="/img/wallpapers/icons/uy_kotatsunekolum.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_kotatsunekomansion.png"><img src="/img/wallpapers/icons/uy_kotatsunekomansion.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_lumflight.png"><img src="/img/wallpapers/icons/uy_lumflight.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_maskball.png"><img src="/img/wallpapers/icons/uy_maskball.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_stvalentines.png"><img src="/img/wallpapers/icons/uy_stvalentines.png" class="imglink2" /></a>
                    <a href="/img/wallpapers/uy_welove.png"><img src="/img/wallpapers/icons/uy_welove.png" class="imglink2" /></a>
                </div>

                <div id="backbutton" style="padding:10px">
                    <figure>
                        <a href="/cabinet/"><img src="/img/gainaxhome.gif" alt="Back" style="max-width: 100px;" width="100%" class="growMouseover"></a>
                        <figcaption><strong>BACK TO THE CABINET</strong></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}